<%- contentFor('body') %>
<main class="container mt-3">
  <div class="row">
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-auto">
          <a class="btn btn-outline-light mx-1" href="/" role="button">На главную</a>
        </div>
        <div class="col-auto ms-auto">
          <select class="form-select form-select bg-dark text-white" id="select_data">
            <option value="auth" selected>Авторизация</option>
            <option value="market">Аукцион</option>
            <option value="k1">Кальфеон-1</option>
            <option value="v1">Валенсия-1</option>
            <option value="m1">Медия-1</option>
            <option value="kam1">Камасильвия-1</option>
          </select>
        </div>
        <div class="col-12">
          <canvas id="chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
document.addEventListener("DOMContentLoaded",(function(t){let a=window.location.pathname.toString().split("/");var e=`/chart/${a[2]}/${a[3]}/${a[4]}.json`,n=createDayChart("chart");updateChart(e,$("#select_data").find(":selected").val(),n),$("#select_data").on("change",(function(t){updateChart(e,this.value,n)}))}));
</script>
<%- contentFor('og-title') %>
Статистика за день
<%- contentFor('title') %>
Статистика за день
<%- contentFor('large_image') %>
<%- large_image -%>
<%- contentFor('script') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="/js/main.min.js"></script>
