<%- contentFor('body') %>
<main class="container mt-3">
  <div class="row">
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-12 col-lg-auto my-1">
          <div class="row">
            <div class="col-12">
              <a class="btn btn-outline-light d-grid" href="/" role="button"><span class="d-inline">Главная <i class="bi bi-house"></i></span></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-auto my-1">
          <div class="row">
            <div class="col-auto">
              <input id="pick_date" class="btn btn-outline-light" type="month">
            </div>
            <div class="col-auto ms-auto">
              <% let large_image = `/img/${params.year}/${params.month}`; %> 
              <a class="btn btn-outline-light" href="<%-large_image-%>" role="button"><span class="d-none d-md-inline">Изображение </span><i class="bi bi-image"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-auto mx-auto mx-lg-0 ms-lg-auto my-1">  
          <select class="form-select bg-dark text-white" id="select_data">
            <% for(let i = 0; i < servers.length; i++) { %>
            <option value="<%=servers[i].name-%>" <%=i === 0? 'selected':''-%>><%=servers[i].label-%></option>
            <% } %>
          </select>
        </div>
        <div class="col-12">
          <canvas id="chart" data-params="<%-params.year-%>/<%-params.month-%>/"></canvas>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
document.addEventListener("DOMContentLoaded",(async function(){let t=this.getElementById("chart").getAttribute("data-params");var e="/chart/"+t,a=`${t.split("/")[0]}-${("0"+t.split("/")[1]).slice(-2)}`,n=createMonthChart("chart"),i=await getDatasets(e),s=await getData("/api/stats"),l=this.getElementById("select_data").value;if(!s||!i)return;let r=s[0].split("-"),o=s.slice(-1).toString().split("-"),d=this.getElementById("pick_date");function c(){if(!i||!n)return;let t=i.find((t=>t.name==l));return t?updateData(n,t):console.error("This type of datasets not allowed!")}d.setAttribute("min",`${r[0]}-${r[1]}`),d.setAttribute("max",`${o[0]}-${o[1]}`),d.setAttribute("value",a),c(),d.addEventListener("change",(function(){let t=new Date(this.value+"-01");confirm(`Вы хотите посмотреть подробную статистику за ${this.value.split("-")[1]} месяц ${this.value.split("-")[0]} года?`)&&(window.location.href=`/stats/${t.getFullYear()}/${t.getMonth()+1}`)})),this.getElementById("select_data").addEventListener("change",(function(){l=this.value,c()})),n.canvas.onclick=function(t){var e=n.getElementsAtEventForMode(t,"nearest",{intersect:!0},!0);if(e[0]){const t=e[0].datasetIndex,a=e[0].index,i=n.data.datasets[t].data[a];confirm(`Вы хотите посмотреть подробную статистику от ${i.x.toLocaleDateString("ru-RU")}?`)&&(window.location.href=`/stats/${i.x.getFullYear()}/${i.x.getMonth()+1}/${i.x.getDate()}`)}}}));
</script>
<%- contentFor('meta') %>
<meta property="og:title" content="Статистика за месяц">
<meta property="og:description" content="Сервис по отслеживанию доступности серверов BDO RU. Подробная статистика за день/месяц.">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="<%- large_image+'?_='+new Date().getTime() -%>">

<meta property="og:image" content="/favicon.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="128">
<meta property="og:image:height" content="128">
<%- contentFor('title') %>
Статистика за месяц
<%- contentFor('style') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<%- contentFor('script') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/js/monthChart.min.js"></script>
